<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tju.minivideo.dao.HistoryMapper">
  <resultMap id="BaseResultMap" type="cn.tju.minivideo.entity.History">
    <!--@mbg.generated-->
    <!--@Table minivideo.histories-->
    <id column="history_id" property="historyId" />
    <result column="user_id" property="userId" />
    <result column="item_id" property="itemId" />
    <result column="item_type" property="itemType" />
    <result column="created_at" property="createdAt" />
    <result column="updated_at" property="updatedAt" />
    <result column="is_deleted" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    history_id, user_id, item_id, item_type, created_at, updated_at, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from minivideo.histories
    where history_id = #{historyId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from minivideo.histories
    where history_id = #{historyId}
  </delete>
  <insert id="insert" keyColumn="history_id" keyProperty="historyId" parameterType="cn.tju.minivideo.entity.History" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into minivideo.histories (user_id, item_id, item_type, created_at, updated_at, is_deleted
      )
    values (#{userId}, #{itemId}, #{itemType}, #{createdAt}, #{updatedAt}, #{isDeleted}
      )
  </insert>
  <insert id="insertSelective" keyColumn="history_id" keyProperty="historyId" parameterType="cn.tju.minivideo.entity.History" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into minivideo.histories
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="itemId != null">
        item_id,
      </if>
      <if test="itemType != null">
        item_type,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId},
      </if>
      <if test="itemId != null">
        #{itemId},
      </if>
      <if test="itemType != null">
        #{itemType},
      </if>
      <if test="createdAt != null">
        #{createdAt},
      </if>
      <if test="updatedAt != null">
        #{updatedAt},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.tju.minivideo.entity.History">
    <!--@mbg.generated-->
    update minivideo.histories
    <set>
      <if test="userId != null">
        user_id = #{userId},
      </if>
      <if test="itemId != null">
        item_id = #{itemId},
      </if>
      <if test="itemType != null">
        item_type = #{itemType},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted},
      </if>
    </set>
    where history_id = #{historyId}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.tju.minivideo.entity.History">
    <!--@mbg.generated-->
    update minivideo.histories
    set user_id = #{userId},
      item_id = #{itemId},
      item_type = #{itemType},
      created_at = #{createdAt},
      updated_at = #{updatedAt},
      is_deleted = #{isDeleted}
    where history_id = #{historyId}
  </update>
<!--auto generated by MybatisCodeHelper on 2021-09-09-->
  <select id="findByItemTypeAndUserIdOrderByCreatedAt" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from minivideo.histories
    where item_type=#{itemType} and user_id=#{userId} and is_deleted=0 order by created_at desc
  </select>
</mapper>