<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tju.minivideo.dao.MediaMapper">
  <resultMap id="BaseResultMap" type="cn.tju.minivideo.entity.Media">
    <!--@mbg.generated-->
    <!--@Table minivideo.media-->
    <id column="media_id" property="mediaId" />
    <result column="media_url" property="mediaUrl" />
    <result column="media_type" property="mediaType" />
    <result column="user_id" property="userId" />
    <result column="created_at" property="createdAt" />
    <result column="updated_at" property="updatedAt" />
    <result column="is_deleted" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    media_id, media_url, media_type, user_id, created_at, updated_at, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from minivideo.media
    where media_id = #{mediaId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from minivideo.media
    where media_id = #{mediaId}
  </delete>
  <insert id="insert" keyColumn="media_id" keyProperty="mediaId" parameterType="cn.tju.minivideo.entity.Media" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into minivideo.media (media_url, media_type, user_id, created_at, updated_at, is_deleted
      )
    values (#{mediaUrl}, #{mediaType}, #{userId}, #{createdAt}, #{updatedAt}, #{isDeleted}
      )
  </insert>
  <insert id="insertSelective" keyColumn="media_id" keyProperty="mediaId" parameterType="cn.tju.minivideo.entity.Media" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into minivideo.media
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mediaUrl != null">
        media_url,
      </if>
      <if test="mediaType != null">
        media_type,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mediaUrl != null">
        #{mediaUrl},
      </if>
      <if test="mediaType != null">
        #{mediaType},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
      <if test="createdAt != null">
        #{createdAt},
      </if>
      <if test="updatedAt != null">
        #{updatedAt},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.tju.minivideo.entity.Media">
    <!--@mbg.generated-->
    update minivideo.media
    <set>
      <if test="mediaUrl != null">
        media_url = #{mediaUrl},
      </if>
      <if test="mediaType != null">
        media_type = #{mediaType},
      </if>
      <if test="userId != null">
        user_id = #{userId},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted},
      </if>
    </set>
    where media_id = #{mediaId}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.tju.minivideo.entity.Media">
    <!--@mbg.generated-->
    update minivideo.media
    set media_url = #{mediaUrl},
      media_type = #{mediaType},
      user_id = #{userId},
      created_at = #{createdAt},
      updated_at = #{updatedAt},
      is_deleted = #{isDeleted}
    where media_id = #{mediaId}
  </update>
<!--auto generated by MybatisCodeHelper on 2021-08-31-->
  <select id="findByMediaUrl" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from minivideo.media
    where media_url=#{mediaUrl}
  </select>
</mapper>