<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tju.minivideo.dao.RelationMapper">
    <resultMap id="BaseResultMap" type="cn.tju.minivideo.entity.Relation">
        <!--@mbg.generated-->
        <!--@Table minivideo.relations-->
        <id column="relation_id" property="relationId"/>
        <result column="from_id" property="fromId"/>
        <result column="to_id" property="toId"/>
        <result column="relation_type" property="relationType"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        relation_id, from_id, to_id, relation_type, created_at, updated_at, is_deleted
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from minivideo.relations
        where relation_id = #{relationId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from minivideo.relations
        where relation_id = #{relationId}
    </delete>
    <insert id="insert" keyColumn="relation_id" keyProperty="relationId"
            parameterType="cn.tju.minivideo.entity.Relation" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into minivideo.relations (from_id, to_id, relation_type, created_at, updated_at, is_deleted)
        values (#{fromId}, #{toId}, #{relationType}, #{createdAt}, #{updatedAt}, #{isDeleted})
    </insert>
    <insert id="insertSelective" keyColumn="relation_id" keyProperty="relationId"
            parameterType="cn.tju.minivideo.entity.Relation" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into minivideo.relations
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fromId != null">
                from_id,
            </if>
            <if test="toId != null">
                to_id,
            </if>
            <if test="relationType != null">
                relation_type,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="updatedAt != null">
                updated_at,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fromId != null">
                #{fromId},
            </if>
            <if test="toId != null">
                #{toId},
            </if>
            <if test="relationType != null">
                #{relationType},
            </if>
            <if test="createdAt != null">
                #{createdAt},
            </if>
            <if test="updatedAt != null">
                #{updatedAt},
            </if>
            <if test="isDeleted != null">
                #{isDeleted},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.tju.minivideo.entity.Relation">
        <!--@mbg.generated-->
        update minivideo.relations
        <set>
            <if test="fromId != null">
                from_id = #{fromId},
            </if>
            <if test="toId != null">
                to_id = #{toId},
            </if>
            <if test="relationType != null">
                relation_type = #{relationType},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
        </set>
        where relation_id = #{relationId}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.tju.minivideo.entity.Relation">
        <!--@mbg.generated-->
        update minivideo.relations
        set from_id       = #{fromId},
            to_id         = #{toId},
            relation_type = #{relationType},
            created_at    = #{createdAt},
            updated_at    = #{updatedAt},
            is_deleted    = #{isDeleted}
        where relation_id = #{relationId}
    </update>
    <!--auto generated by MybatisCodeHelper on 2021-08-30-->
    <select id="findByFromIdAndToIdAndRelationType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from minivideo.relations
        where from_id = #{fromId}
          and to_id = #{toId}
          and relation_type = #{relationType}
          and is_deleted = 0
    </select>
    <!--auto generated by MybatisCodeHelper on 2021-08-30-->
    <select id="findByFromIdAndRelationType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from minivideo.relations
        where from_id = #{fromId}
          and relation_type = #{relationType}
          and is_deleted = 0
    </select>
    <!--auto generated by MybatisCodeHelper on 2021-08-31-->
    <update id="deleteByFromIdAndToIdAndRelationType">
        update minivideo.relations
        set is_deleted = 1
        where from_id = #{fromId}
          and to_id = #{toId}
          and relation_type = #{relationType}
          and is_deleted = 0
    </update>
    <!--auto generated by MybatisCodeHelper on 2021-09-02-->
    <select id="findByToIdAndRelationType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from minivideo.relations
        where to_id = #{toId}
          and relation_type = #{relationType}
          and is_deleted = 0
    </select>
</mapper>