<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tju.minivideo.dao.TopicMapper">
  <resultMap id="BaseResultMap" type="cn.tju.minivideo.entity.Topic">
    <!--@mbg.generated-->
    <!--@Table minivideo.topics-->
    <id column="topic_id" property="topicId" />
    <result column="topic_name" property="topicName" />
    <result column="user_id" property="userId" />
    <result column="created_at" property="createdAt" />
    <result column="updated_at" property="updatedAt" />
    <result column="is_deleted" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    topic_id, topic_name, user_id, created_at, updated_at, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from minivideo.topics
    where topic_id = #{topicId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from minivideo.topics
    where topic_id = #{topicId}
  </delete>
  <insert id="insert" keyColumn="topic_id" keyProperty="topicId" parameterType="cn.tju.minivideo.entity.Topic" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into minivideo.topics (topic_name, user_id, created_at, updated_at, is_deleted)
    values (#{topicName}, #{userId}, #{createdAt}, #{updatedAt}, #{isDeleted})
  </insert>
  <insert id="insertSelective" keyColumn="topic_id" keyProperty="topicId" parameterType="cn.tju.minivideo.entity.Topic" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into minivideo.topics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="topicName != null">
        topic_name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="topicName != null">
        #{topicName},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
      <if test="createdAt != null">
        #{createdAt},
      </if>
      <if test="updatedAt != null">
        #{updatedAt},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.tju.minivideo.entity.Topic">
    <!--@mbg.generated-->
    update minivideo.topics
    <set>
      <if test="topicName != null">
        topic_name = #{topicName},
      </if>
      <if test="userId != null">
        user_id = #{userId},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted},
      </if>
    </set>
    where topic_id = #{topicId}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.tju.minivideo.entity.Topic">
    <!--@mbg.generated-->
    update minivideo.topics
    set topic_name = #{topicName},
      user_id = #{userId},
      created_at = #{createdAt},
      updated_at = #{updatedAt},
      is_deleted = #{isDeleted}
    where topic_id = #{topicId}
  </update>
<!--auto generated by MybatisCodeHelper on 2021-09-08-->
  <select id="findByTopicName" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from minivideo.topics
    where topic_name=#{topicName} and is_deleted=0
  </select>
<!--auto generated by MybatisCodeHelper on 2021-09-10-->
  <select id="findOrderByActivityNum" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from minivideo.topics as t order by (
        select count(*) from activity_topics as at where at.topic_id=t.topic_id and is_deleted=0
    ) desc
    limit 5
  </select>
</mapper>